@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .content-box-component {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  
  body {
    padding: 1rem;
    margin: 0 auto;
    max-width: 1200px;
  
    color: #353535;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
  
    background-color: #f0f0ea;
  }
  
  fieldset {
    margin: 0;
    padding: 0;
  
    border: 0;
  }

/* 
    film list
*/
.film-list {
    display: grid;
    grid-row: 1;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;

}


/* 
    card
*/
.card {
    max-width: 300px;
    border: 1px solid #d2cfcf;
    border-radius: 10px;
}

.card-header__title {
  height: 100px;
}

.card-header__title{
  padding: 1rem;
}

.card__body {
    background-color: #fffff8;
}

.card__footer {
    border-top: 1px solid #d2cfcf;
    padding: 1rem;
    float: right;
}

.card-header__image {
    width: 100%;
    object-fit: cover;
}

/* 
    button
 */
.button {
    border: none;
    padding: 1rem 1.5rem;
    text-transform: capitalize;
}

.button__icon {
  
  display: inline-block;
  overflow: hidden;

  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5rem 1rem;
}

.button_add {
  background-image: url("../images/plus.svg");
}

.button_remove {
  background-image: url("../images/cancel.svg");
}

.button_checked {
  border: 1px solid rgb(155, 132, 132);
}

.button_primary {
    background-color: #5796f7;
    color: white;
}


/* 
  Film-info
*/

.film-info {
  display: grid;
  grid-template-columns: 100px auto;
  padding: 0.25rem;
}

.film-info__title {
  margin: 0;
  font-style: italic;
  font-weight: bold;
}

.film-info__text {
  margin: 0;
}

.film-info__title::after {
  content: ':';
}


/* 
  search
*/

.search__input {
  padding: 1rem 1.5rem;
  margin-right: 0.5rem;
}

.control-panel {
  padding: 0.5rem 2rem;
  padding-left: 0;
  display: flex;
  flex-direction: row;
}

.sorting {
  padding-bottom: 2rem;
}

.filter {
  padding: 1rem 1.5rem;
}

.sorting__title {
  margin-right: 1.5rem;
}